.view-today {
  margin-top: 100px;
  font-size: 30px;
}

.view-clock {
  margin-top: 20px;
}

.punch-group {
  height: 150px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.center {
  text-align: center;
}

.w100 {
  width: 50px;
}

.w50 {
  width: 25px;
}

.w30 {
  width: 30px;
}

.w15 {
  width: 15px;
}

.fs30 {
  font-size: 30px;
}

.fs15 {
  font-size: 15px;
}