<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <footer id="footer" layout:fragment="footer" class="footer">
    <div class="container-fluid">
      <div v-if="!isSmartPhone" class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made <img th:src="@{/static/img/kinda-copyright.png}"> by
        <a href="https://gitlab.com/taiki-self-learning/kinda-java" target="_blank">TKITIK</a>
      </div>
      <div v-if="isSmartPhone" class="container footbar" style="margin-top: -5px;" data-color="azure" data-background-color="white">
        <div class="row">
          <button @click="toHome()" class="navbar-toggler col" th:classappend="${active == 'home'} ? active" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">home</i>
          </button>
          <button @click="toDetail()" class="navbar-toggler col" th:classappend="${active == 'detail'} ? active" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">edit</i>
          </button>
          <button @click="toSchedule()" class="navbar-toggler col" th:classappend="${active == 'schedule'} ? active" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">event_note</i>
          </button>
          <button @click="toSettings()" class="navbar-toggler col" th:classappend="${active == 'settings'} ? active" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">settings_applications</i>
          </button>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>