<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
  <nav id="header" layout:fragment="header" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
    <div class="container-fluid">
      <div class="navbar-toggler align-middle" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      </div>
      <div class="navbar-toggler align-middle" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <i th:if="${isAdmin}" class="material-icons">how_to_reg</i>
        <i th:if="${!isAdmin}" class="material-icons">person</i>
        <span class="align-middle" th:text="${userId}"></span>
      </div>
      <button @click="logout()" class="navbar-toggler align-middle" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons align-middle">exit_to_app</i>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{#0}">
              <i th:if="${isAdmin}" class="material-icons">how_to_reg</i>
              <i th:if="${!isAdmin}" class="material-icons">person</i>
              <span class="align-middle" th:text="${userName}"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}">
              <i class="material-icons">exit_to_app</i> ログアウト
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>