<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/material-dashboard/assets/css/material-dashboard.css}">
  <link rel="stylesheet" th:href="@{/webjars/material-icons/0.3.1/iconfont/material-icons.css}">
  <link rel="stylesheet" th:href="@{/static/css/footer.css}">
  <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}">
  <script th:src="@{/webjars/vue/2.6.11/dist/vue.min.js}"></script>
  <script th:src="@{/webjars/axios/0.19.2/dist/axios.min.js}"></script>
  <script th:src="@{/static/js/header.js}"></script>
  <script th:src="@{/static/js/common.js}"></script>
  <script th:src="@{/static/js/footer.js}"></script>
  <title>KINDA</title>
</head>
<body>
  <div class="wrapper">
    <div layout:replace="~{layout/sidebar::sidebar(${active})}"></div>
    <div class="main-panel">
      <nav layout:replace="~{layout/header::header}"></nav>
      <div class="content">
        <div class="container-fluid">
          <div layout:fragment="content"></div>
        </div>
      </div>
      <footer layout:replace="~{layout/footer::footer(${active})}"></footer>
    </div>
  </div>
</body>
</html>