<!DOCTYPE html>
<html lang="ja"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	th:with="active='schedule'">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
	<div layout:fragment="content">
    <h1>スケジュール画面</h1>
    <br />
    <table border="1px">
			<thead>
				<tr>
					<th>日付</th>
					<th>出勤時刻</th>
					<th>退勤時刻</th>
					<th>休憩時間</th>
					<th>勤怠理由</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="info : ${attendanceInfo.attendancePayloadList}">
					<td th:text="${info.attendanceDate}"></td>
					<td th:text="${info.punchInTime}"></td>
					<td th:text="${info.punchOutTime}"></td>
					<td th:text="${info.restTime}"></td>
					<td th:text="${info.attendanceReason}"></td>
				</tr>
			</tbody>
    </table>
	</div>
</body>
</html>